@charset "UTF-8";

@font-face {
	font-family: 'noto_bold';
	font-style: normal;
	src: url(../../font/NotoSansKR-Bold-Hestia.eot);
	src: url(../../font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
		url(../../font/NotoSansKR-Bold-Hestia.woff) format('woff');
}

@font-face {
	font-family: 'noto_demiLight';
	font-style: normal;
	src: url(../../font/NotoSansKR-DemiLight-Hestia.eot);
	src: url(../../font/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
		url(../../font/NotoSansKR-DemiLight-Hestia.woff) format('woff');
}

@font-face {
	font-family: 'noto_light';
	font-style: normal;
	src: url(../../font/NotoSansKR-Light-Hestia.eot);
	src: url(../../font/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
		url(../../font/NotoSansKR-Light-Hestia.woff) format('woff');
}

@font-face {
	font-family: 'noto_regular';
	font-style: normal;
	src: url(../../font/NotoSansKR-Regular-Hestia.eot);
	src: url(../../font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
		url(../../font/NotoSansKR-Regular-Hestia.woff) format('woff');
}

@font-face {
	font-family: 'noto_thin';
	font-style: normal;
	src: url(../../font/NotoSansKR-Thin-Hestia.eot);
	src: url(../../font/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
		url(../../font/NotoSansKR-Thin-Hestia.woff) format('woff');
}

@font-face {
	font-family: 'noto_medium';
	font-style: normal;
	src: url(../../font/NotoSansKR-Medium-Hestia.eot);
	src: url(../../font/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
		url(../../font/NotoSansKR-Medium-Hestia.woff) format('woff');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-family: 'noto_demiLight'; line-height:100%; letter-spacing:-0.06em;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0; table-layout:fixed;}
caption{height:0; font-size:0; text-indent:-999999;}

html,body{height:100%;}

a{text-decoration:none;}
img{border:0; vertical-align:top;}
input{vertical-align:middle; margin:0; padding:0; font-family: 'noto_demiLight';}
button{font-family: 'noto_demiLight';}


/* 로그인 */
.login{height:100%; margin-top:-1px; padding-top:1px; }
.login .loginBox{position:absolute; top:50%; left:50%; width:373px; margin:-147px 0 0 -186.5px;}
.login .loginBox h1{margin-bottom:5px; font-size: 22px;}
.login .loginBox h2{margin-bottom:20px; font-size: 12px;}
.login .loginBox input[type="text"] {width:200px; height:42px; margin-bottom:13px; padding:0 20px; font-size:13px; color:#aaa;  }
.login .loginBox input[type="password"]{width:200px; height:42px; margin-bottom:13px; padding:0 20px; font-size:13px; color:#aaa;  }
.login .loginBox .btn_now{border-radius: 5px; margin-bottom:10px; display:block; height:60px; margin-top:10px; line-height:60px; background-color:#009999; repeat-x top left; text-align:center; font-size:19px; color:#fff; font-weight:700;}
.login .loginBox .underLine{text-decoration:underline; color:#00a6a6;}
.login .loginBox .labelp{width:300px; font-size:13px; color:#aaa; text-align: right;}

/* common : float clear */
.cf:after{content:""; display:block; clear:both;}
.cf{*zoom:1;}

/* float */
.float_left{float:left !important;}
.float_right{float:right !important;}

/* layout */
#header{z-index:100;position:fixed;top:0;left:0;width:100%;height:70px;background:#FFF;}
#header ul{z-index:100;position:relative;display:block;height:100%;text-align:center;vertical-align:middle;font:0/0 arial;}
#header li{*float:left;height:100%;display:inline-block;vertical-align:middle;}
#header li a{display:block;height:100%;font:bold 20px/66px "Malgun Gothic";color:#353535;letter-spacing:-2.5px;padding:0 11px;}
#header li a:hover,
#header li a.on,
#header li.active a{color:#b60050;}
#header .logo{position:absolute;top:0;left:0;height:100%;margin-left:25px;}
#header .logo a{padding:0;}
#header .logo img{margin-top:6px;}
@media screen and (max-width: 1250px) {
    #header ul{white-space:nowrap;padding-left:240px;}
    header .depth2 ul{padding:0;}
}

#event{z-index:100;width:100%;height:180px;background:#FFF;}
#event ul{z-index:100;position:relative;display:block;height:100%;text-align:center;vertical-align:middle;font:0/0 arial;}
#event li{*float:left;height:100%;display:inline-block;vertical-align:middle;}
#event li a{display:block;height:100%;font:bold 20px/66px "Malgun Gothic";color:#353535;letter-spacing:-2.5px;padding:0 11px;}
#event li a:hover,
#event li a.on,
#event li.active a{color:#b60050;}

footer{width:990px; padding:30px 0; margin:60px auto 0 auto; text-align:center;border-top:1px solid #ddd;}
footer div{font-size:13px; color:#999;}
footer strong{color:#333; font-size:15px; font-weight:normal;}
footer span{display:inline-block; padding:0 10px; background: url(../images/bg_footer_bar.gif) no-repeat 0 50%;}
footer span:nth-of-type(1){background:none;}
footer .copyright{font-size:12px;}


/* skip */
.skip {position:absolute; left:0; top:0; width:100%; z-index:999999;}
.skip a{display:block; text-align:center; width: 100%; height:0; font-size:0; font-weight:bold; line-height:18px; color:#333; text-align:center; background:#fff;}
.skip a:focus, .skip a:hover, .skip a:active {display:block; height:20px; font-size:12px;}

/* admin common */
.w100{width:100% !important;}
.w60{width:60% !important;}
.w50{width:50% !important;}
.w30{width:30% !important;}
.w20{width:20% !important;}
.w10{width:10% !important;}
/* h2{margin-bottom:40px; padding-left:10px; font-size:20px; color:#0a102b; font-family: 'noto_medium'; line-height:100%; border-left:2px solid #0a102b;} */

/* 정렬 */
.align_left{text-align:left !important;}
.align_right{text-align:right !important;}
.align_center{text-align:center !important;}
.align_margin{margin-bottom:10px; text-align:right !important;}

.container{position:relative; height:100%;}
.container .lnb{position:fixed; left:0; top:0; width:220px; height:100%; background-color:#DADADA;}
.container .lnb h1{padding:54px 0 69px; border-bottom:1px solid #858895 ; text-align:center}
.container .lnb .lnbMenu{border-top:1px solid #858895}
.container .lnb .lnbMenu ul li{height:25px; line-height:25px; font-size:14px;  padding-left:20px; margin: 2px 0;}
.container .lnb .lnbMenu ul li a{color:#000000 }
.container .lnb .lnbMenu ul li.on{background-color:#FF0000;}
.container .lnb .lnbMenu ul li.on a{color:#FFFFFF;}
/*.container .lnbMenu .block h1{text-align:left; background-color:#C0C0C0; width:150px; padding:0px 20px; margin-top:20px; margin-bottom:10px; margin-left:auto; margin-right:auto; height:25px; line-height:25px; font-size:14px; font-weight:bold;  border:1px solid #A8A8A8}*/
.container .lnbMenu .block h1{text-align:left; background-color:#000000; color:white; padding:0px 0px 0px 20px; margin-top:20px; margin-bottom:23px; margin-left:auto; margin-right:auto; height:25px; line-height:25px; font-size:14px; font-weight:bold; }
.container .lnbMenu .block h1 .left_magine{margin-left:10px; text-align: center; }
.container .lnbMenu h2{height:25px; line-height:25px; font-size:14px; background-color:#A8A8A8; padding-left: 20px;}

.container .content{margin-left:220px}
.top{ border-bottom :1px solid #A8A8A8 }
.top .topIn{position:relative;width:980px}
.top .topIn .pageNav{padding-left:50px; height: 50px; line-height:50px;}
.top .topIn .pageNav img{vertical-align:middle}
.top .topIn .pageNav a{font-size:11px; color:#999 ;  font-family: "돋움",Dotum;}
.top .topIn .pageNav .home img{margin-top:-4px}
.top .topIn .pageNav .on{color:#0a102b}
.top .topIn .pageNav .arrow{margin:0 5px;}
.top .topIn .btn_util{position:absolute;right:0;top:9px}
.content .contentIn{padding:43px 0 40px 50px; width:930px}

.topTwo{ border-bottom :1px solid #A8A8A8 }
.topTwo .topIn{position:relative;width:980px}
.topTwo .topIn .pageNav{padding-left:50px; height: 25px; line-height:25px;}

/* table list */
.listTable{text-align:center; width:100%; font-family: 'noto_demiLight'; table-layout:fixed;}
.listTable th{padding:10px 0; color:#60688b; font-family: 'noto_medium'; font-size:14px;  border-bottom:1px solid #ddd; border-top:1px solid #0a102b; background:#f5f5f5;}
.listTable td{padding:10px 0; color:#454545; font-size:14px; vertical-align:middle;  border-bottom:1px solid #ddd;}
.listTable th:first-child,.listTable td:first-child{border-left:0;}
.listTable td a{color:#454545;}
.listTable td.title{padding:10px; text-align:left;}
.listTable td.title a{display:inline-block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.listTable td.img img{width:80px; height:80px;}
.listTable .row{ text-align:left; padding-left: 20px; }
.listTable .row label{ text-align:left; padding-left: 5px; }

/* table right */
.writeTable{width:100%;border-top:1px solid #0a102b}
.writeTable th{padding:13px 0 12px 30px; text-align:left; color:#60688b; font-size:14px; background-color:#f5f5f5}
.writeTable th, .writeTable td{border-bottom:1px solid #ddd }
.writeTable th, .writeTable td input{height:25px; line-height:25px;}
.writeTable td span.red{color:#f00;}
.writeTable td span.orange{color:#f90;}
/* 리스트 하단 */
.bottom{position:relative; height:38px; margin-top:15px; padding-top:1px;}

/* 검색 */
.bottom .search{position:absolute; top:0; left:0; border:1px solid #999; border-radius:5px; overflow:hidden;}
.bottom .search input[type="text"]{width:125px; height:36px; line-height:36px; padding:0 10px; border:0; background:#fff;}
.bottom .search input[type="image"]{margin-right:8px;}

/* 카테고리 선택 */
.bottom .category{position:absolute; top:0; left:0; width:170px; font-size:13px;}
.bottom .category .current{display:block; height:35px; padding:0 15px; line-height:35px; color:#999; border:1px solid #999; border-radius:5px; background:url(../images/ico_select.png) no-repeat 150px center;}
.bottom .category ul{display:none; position:relative; top:-1px; left:0; width:168px; border:1px solid #999; border-radius:5px; background:#fff;}
.bottom .category ul li{height:35px;}
.bottom .category ul li a{display:block; padding:0 15px; line-height:35px; color:#999;}
.bottom .category ul li a:hover{color:#fff; background:#999;}

/* 페이징 */
.bottom .paging{margin-top:10px; text-align:center;}
.bottom .paging a{color:#b1b1b1; font-size:18px;}
.bottom .paging a img{vertical-align:baseline;}
.bottom .paging ul{display:inline-block; margin:0 20px; overflow:hidden;}
.bottom .paging ul li{float:left; margin-left:15px;}
.bottom .paging ul li.on a{color:#0a102b;}
.bottom .paging ul li:first-child{margin-left:0;}
.bottom .paging>a{margin:0 3px;}

.bottom .paging .on{color:#0058b0;}
.bottom .paging  a{margin:0 5px;}

/* 버튼 */
.bottom .btn_list{position:absolute; top:0; right:0; }
.bottom .btn_list a{display:inline-block; margin-left:3px; padding:10px 30px; font-size:15px; text-align:center;  border-radius:5px; background: #009999;}
.bottom .btn_list a:first-child{margin-left:0;}
.bottom .btn_list a.btn01{color:#ffffff;} 
.bottom .btn_list a.btn01:hover{color:#000000;}


/* input type 기본속성 */
input[type="text"] {height:25px; border:1px solid #999;}

@media screen and (-webkit-min-device-pixel-ratio:0){
	input[type="text"] {height:25px}
}
input[type="password"] {height:28px; border:1px solid #bbb;}
input[type="file"] {}
input[type="radio"] {}
input[type="checkbox"] {}
select {height:24px; vertical-align:middle;}
@media screen and (-webkit-min-device-pixel-ratio:0){
	select {height:27px}
}

/* table write */
.writeTable{width:100%;border-top:1px solid #0a102b}
.writeTable th, .writeTable td{border-bottom:1px solid #ddd; text-align:left;}
.writeTable th{padding:13px 0 12px 30px; vertical-align:middle; color:#60688b; font-size:14px; background-color:#f5f5f5}
.writeTable td{padding:13px 20px 12px 20px; font-size:14px; color:#454545 }
.writeTable td .colOrange{padding-left:15px; font-size:12px; color:#f60}
.writeTable td .txt_radio{display:inline-block; width:40px; padding:0 5px}
.writeTable td .txt_use{color:#454545; line-height:25px}
.writeTable td .txt_use span{color:#999}

/* 아이콘 및 버튼 */
.thumb span{color:#454545}
.thumb a{color:#0078fe}
.search{ background-color:#F2F2F2; width:905px; padding:10px 0px 15px 20px;; height:25px; line-height:25px; border:1px solid #A8A8A8; margin-bottom: 20px;}
.search .left_magine{margin-left:20px; width: 300px; }
.search .btn_search{margin-left:10px; padding:0px 40px; border-radius: 5px;  background-color:#009999; repeat-x top left; text-align:center;  color:#fff; vertical-align:middle;}
.search .btn_search label{display:inline-block; width:100%; height:27px; line-height:27px; font-size:12px; color:#fff; background-color:#555; text-align:center; cursor:pointer;}
.search .btn_search input{position:absolute; top:0; left:0; width:100%; height:29px; opacity:0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

.searchevent{ background-color:#F2F2F2; width:905px; padding:10px 0px 15px 20px;; height:100px; line-height:25px; border:1px solid #A8A8A8; margin-bottom: 20px;}
.searchevent div{padding: 5px 0 0 0; }
.searchevent .dateinput{margin-left:10px; width: 150px; padding-left: 10px;}
.searchevent .event_radio {margin-left:10px; width: 20px;}
.searchevent .left_magine{margin-left:25px; width: 250px; padding-left: 10px;}
.searchevent .btn_search{margin-left:10px; padding:0px 40px; border-radius: 5px;  background-color:#009999; repeat-x top left; text-align:center;  color:#fff; vertical-align:middle;}
.searchevent .btn_search label{display:inline-block; width:100%; height:27px; line-height:27px; font-size:12px; color:#fff; background-color:#555; text-align:center; cursor:pointer;}
.searchevent .btn_search input{position:absolute; top:0; left:0; width:100%; height:29px; opacity:0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

/* 컬러 */
.colRed{color:#e62424}
.colOrange{color:#ff6600}

.ui-datepicker-trigger { vertical-align:middle !important;}